/* Light theme and Dark theme */
:root, .dark {
    --primary-custom: rgb(226, 170, 101);
    /* override link accent */
    --link-color: rgb(226, 170, 101);
    --link-hover-color: var(--link-color);
    --link-underline-shadow: 0 1px 0 var(--link-color);
    --link-hover-underline-color: var(--link-color);
    --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
}

/* Dark theme */
.dark {
    --content: rgb(229, 229, 230); /* Text color */
    --code-bg: rgb(57, 55, 51); /* ToC */
    --link-background-color: #7459426d; /* ToC highlighted section */
}

.post-content blockquote {
    border-inline-start: 3px solid var(--primary-custom);
    /* background-color: rgba(245, 245, 245, 0.587); */
    opacity: 0.9;
    border-radius: 3px;
}

.post-content a {
    box-shadow: 0 1px  rgb(255, 178, 84);
}

/* proof shortcode */
.post-content .proof {
    border-color: var(--primary-custom);
    border-style: dashed;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 0.5em;
    margin-bottom: var(--content-gap);
}

/* Delete content gap space from last child */
.post-content .proof p:nth-last-child(2) {
    margin-bottom: 0px;
}

.post-content .proof .qed {
    font-size: 1em;
    float: right;
    padding-left: 0;
    margin: 0;
    line-height: 0%;
    /* no line-height so it doesn't get forced into a new line, although it still does :( */
}

/* Add space to proof env to includ qed symbol */
.post-content .proof::after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0.2em;
}

.post-footer {
    padding-bottom: 0;
}

.comments-separator {
    height: 1px;
    margin-bottom: var(--content-gap);
}