.center {
    margin-left: auto;
    margin-right: auto;
    /* fit the content of the child so centering by margin works */
    width: fit-content;
}

.right {
    margin-left: auto;
    margin-right: 0px;
    /* fit the content of the child so centering by margin works */
    width: fit-content;
}

.center,.right > * {
    /* sometimes the child element is at 100% width, so centering by margin doesn't work */
    width: fit-content;
}

/* proof shortcode */
.proof {
    border-width: 1px !important;
    background-color: var(--highlight-background);
    padding: 0.5em;
    opacity: 0.9;
    border-radius: 3px;
    margin-bottom: var(--content-gap);
}

/* Delete content gap space from last child to qed */
.proof :nth-last-child(2) {
    margin-bottom: 0px;
}

.proof .qed {
    font-size: 1em;
    float: right;
    padding-left: 0;
    margin: 0;
    line-height: 0%;
    /* no line-height so it doesn't get forced into a new line, although it still does :( */
}

/* Add space to proof env to includ qed symbol */
.proof::after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0.3em;
}

/* theorems shortcode */
/* no margin bottom */
.thm p:first-child,
.thm :last-child {
    margin-bottom: 0px;
}