.center {
    margin-left: auto;
    margin-right: auto;
    /* fit the content of the child so centering by margin works */
    width: fit-content;
}

.right {
    margin-left: auto;
    margin-right: 0px;
    /* fit the content of the child so centering by margin works */
    width: fit-content;
}

.center,.right > * {
    /* sometimes the child element is at 100% width, so centering by margin doesn't work */
    width: fit-content;
}