/* Light theme */
:root {
    /* post content accent color */
    --primary-custom: rgb(226, 170, 101);
    /* blockquote, proof, and various post content background */
    --highlight-background: rgba(245, 245, 245, 0.587);
    --link-background-color: rgb(227, 224, 220); /* ToC Highlight */

    /* Color sets */
    --positive-primary: rgb(142, 199, 138);
    --positive-bg: rgba(185, 231, 182, 0.6);
    --positive-hover: rgb(140, 216, 136);

    --theme-like-primary: rgb(245, 205, 156);
    --theme-like-bg: rgba(233, 212, 154, 0.352);
    --theme-like-hover: rgb(255, 217, 170);
    
    --content-gap: 15px;
}

/* Dark theme */
.dark {
    /* post content accent color */
    --primary-custom: rgb(153, 214, 238);
    /* blockquote, proof, and various post content background */
    --highlight-background: rgba(51, 56, 67, 0.668);
    /* theme vars */
    --content: rgb(229, 229, 230); /* Text color */
    --code-bg: rgb(55, 63, 74); /* ToC background, foodnote*/
    --link-background-color: rgb(90, 110, 135);  /* ToC Highlight */

    /* Color sets */
    --positive-primary: rgb(81, 102, 91);
    --positive-bg: rgba(64, 81, 72, 0.591);
    --positive-hover: rgb(94, 115, 100);

    --theme-like-primary: rgb(64, 122, 145);
    --theme-like-bg: rgb(36, 63, 73);
    --theme-like-hover: rgb(83, 143, 167);
}

/* Light theme and Dark theme */
:root, .dark {
    /* override theme vars */
    /* link accent */
    --link-color: var(--primary-custom);
    --link-hover-color: var(--link-color);
    --link-underline-shadow: 0 1px 0 var(--link-color);
    --link-hover-underline-color: var(--link-color);
    --link-hover-underline-shadow: 0 1px 0 var(--link-hover-underline-color); /* same underline thickness */
}

/* Go to top button */
.top-link {
    bottom: 30px;
    right: 30px;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

/* prooftable has no table header, row border, and margin-bottom
   used for line by line proofs */
.prooftable {
    margin-bottom: 0 !important;
}

.prooftable thead {
    display: none;
}

.prooftable th,
.prooftable td {
    border: none !important;
    padding: 0.3em !important;
}

.highlight-block {
    border-color: var(--primary-custom);
    border-style: dashed;
    border-width: 2px;
    border-radius: 5px;
    border-inline-start: 3px solid var(--primary-custom);
    /* border-left-style: solid;
    border-left-width: 3px;
    border-right-width: 3px;
    border-right-style: solid; */
    padding: 0.5em;
    margin-bottom: var(--content-gap);
}

.hidden {
    display: none;
    height: 0;
}