<!-- Accordion event listener (see accordion shortcode) -->
<script>
    window.addEventListener('MathJaxTypesetted', function() {
        const accordions = document.getElementsByClassName("accordion")
        for (const accrd of accordions) {
            const header = accrd.getElementsByClassName("accordion-header").item(0)
            const content = accrd.getElementsByClassName("accordion-content").item(0)
            // ignore accordions missing header or content
            if (!header || !content) continue
            header.addEventListener("click", (e) => {
                accrd.classList.toggle("hide")
            })
        }
    });
</script>