<!-- This file is auto-deteced by PaperModX (when params.comments = true) -->
<div id="giscus-comments-box"></div>

<script>
// See theme's partials/header.html

// Get theme stored in localStorage
function getGiscusTheme() {
    let theme = localStorage.getItem("pref-theme") // set by PaperModX
    // If preferred theme unknown, then set it to either "light" or "dark" 
    // (so this code is independent of the default theme of the site)
    // Obtains currently displayed theme by checking if body has "dark" class
    if (theme !== 'light' && theme !== 'dark') {
        if (document.body.classList.contains('dark'))
            theme = 'dark'
        else theme = 'light'
    }

    // For custom themes, must allow CORS of "https://giscus.app" on the server for it to work
    // For testing purposes, I use built in github light/dark theme
    const isLocal = window.location.hostname === 'localhost' || window.location.hostname === '127.0.0.1'

    switch (theme) {
        case 'light':
            return isLocal ? 'light' : window.location.origin+'/giscus-light.css' // custom light theme 
        case 'dark': 
        default: 
            return isLocal ? 'dark' : window.location.origin+'/giscus-dark.css' // custom dark theme
    }
}

// Send message to giscus iframe to change theme
function setGiscusTheme() {
    function sendMessage(message) {
        const iframe = document.querySelector('iframe.giscus-frame')
        if (!iframe) return
        iframe.contentWindow.postMessage({ giscus: message }, 'https://giscus.app')
    }
    sendMessage({
        setConfig: {
            theme: getGiscusTheme(),
        },
    })
}

document.addEventListener('DOMContentLoaded', function () {
    const giscusAttributes = {
        "src": "https://giscus.app/client.js",
        "data-repo": "allen-liaoo/alsblog",
        "data-repo-id": "R_kgDOLqCjtg",
        "data-category": "Comments",
        "data-category-id": "DIC_kwDOLqCjts4CfH8X",
        "data-mapping": "pathname",
        "data-strict": "0",
        "data-reactions-enabled": "1",
        "data-emit-metadata": "0",
        "data-input-position": "top",
        "data-theme": getGiscusTheme(),
        "data-lang": "en",
        "data-loading": "lazy",
        "crossorigin": "anonymous",
        "async": "",
    }

    // Dynamically create script tag and add to DOM
    const giscusScript = document.createElement("script")
    Object.entries(giscusAttributes).forEach(([key, value]) => giscusScript.setAttribute(key, value))
    let divToAdd = document.getElementById('giscus-comments-box')
    divToAdd.appendChild(giscusScript)

    // Add listener to listen for switching themes
    window.addEventListener("toggle-theme", () => {
        setGiscusTheme()
    })
})
</script>
<!-- Added for Giscus comments -->
{{/*  <script id="giscus-comments"
        src="https://giscus.app/client.js"
        data-repo="allen-liaoo/alsblog"
        data-repo-id="R_kgDOLqCjtg"
        data-category="Comments"
        data-category-id="DIC_kwDOLqCjts4CfH8X"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="transparent_dark"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>  */}}