<!-- Added for MathJax feature ($ for inline and macros) -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script>
  MathJax = {
    loader: {load: ['[tex]/bussproofs', '[tex]/ams', '[tex]/mathtools']},
    tex: {
      displayMath: [['\\[', '\\]'], ['$$', '$$']],  // block
      inlineMath: [['\\(', '\\)'],['$','$']],       // inline
      packages: {
        '[+]': ['bussproofs', 'ams', 'mathtools']
      }
    }
  };
</script>