{{- /* Wraps text inside a proof environment
     Proof type could be "proven" (default), "sketch", or "unproven" */ -}}
{{ $goal :=  "" }}
{{ $type := "proven" }}

{{ if .IsNamedParams }}
  {{ with (.Get "goal")}}{{ $goal = . }}{{end}}
  {{ with (.Get "type")}}{{ $type = . }}{{end}}
{{ else }}
  {{ with (.Get 0)}}{{ $goal = . }}{{end}}
  {{ with (.Get 1)}}{{ $type = . }}{{end}}
{{ end }}

<div class="proof">
{{- if eq $type "sketch"}}
  <i>Proof Sketch</i>
{{- else if eq $type "unproven"}}
  <i>Failed Proof</i>
{{- else }}
  <i>Proof</i>
{{ end -}}
{{with $goal -}}{{ printf " of %s." (markdownify .) }}{{end}}<br />
{{ .Inner }}
{{- if eq $type "sketch"}}
  <div class="qed" title="Q.E.D.?">⧆</div>
{{- else if eq $type "unproven" }}
  <div class="qed" title="No Q.E.D.!">⊠</div>
{{- else }}
  <div class="qed" title="Q.E.D.!">□</div>
{{ end -}}
</div>