<!-- Label (must be a string):
    If theorem was unlabeled and unnamed, then it can only be referred to by its number.
    If theorem was unlabeled but named, then it can only be referred to by its name.
    If theorem was labeled, then it can only be referred to by its label. -->
{{ $label := "" }}

{{ if .IsNamedParams }}
  {{ with (.Get "label")}}{{ $label = . }}{{end}}
{{ else }}
  {{ with (.Get 0)}}{{ $label = . }}{{end}}
{{ end }}

{{ $number := (index (.Page.Scratch.Get "thm-num-by-label") $label) }}
{{ $type := (index (.Page.Scratch.Get "thm-type-by-label") $label) }}

<!-- Calculate title by its type -->
{{ $title := "Theorem" }}
{{ if (hasPrefix "definition" $type) }}
  {{ $title = "Definition" }}
{{ else if (hasPrefix "proposition" $type) }}
  {{ $title = "Proposition" }}
{{ else if (hasPrefix "lemma" $type) }}
  {{ $title = "Lemma" }}
{{ else if (hasPrefix "corollary" $type) }}
  {{ $title = "Corollary" }}
{{ else if (hasPrefix "fact" $type) }}
  {{ $title = "Fact" }}
{{ else if (hasPrefix "remark" $type) }}
  {{ $title = "Remark" }}
{{ else }}
  {{ $title = strings.FirstUpper $type }}
{{ end }}

<a href="#{{ $label }}">{{ printf "%s %d" $title $number }}</a>